.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .2rem
}

.chart {
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: .5rem;
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chartPercentage {
  font-size: .75rem;
}

.chartBar {
  position: absolute;
  left: 0;
  background-color: rgb(0, 114, 0);
  height: 100%;
  border-radius: .5rem;
}

.chartSubjects {
  padding: .5rem;
}