.container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-radius: .3rem;
}

.name {
  font-weight: 600;
  letter-spacing: .5px;
}

.degree {
  font-weight: 600;
}

.container:nth-child(odd):not(.aprobado):not(.desaprobado):not(.promociona) {
  background-color: #292929;
}

.aprobado {
  background-color: rgb(0, 114, 0);
}

.desaprobado {
  background-color: #f00;
}

.promociona {
  background-color: rgb(52, 197, 52)
}